*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Inter',sans-serif;
    
}

header{
    height: 108px;
    border-bottom: 2px solid rgb(154, 153, 155) ;
    display: flex;
    
    /* background-color: blue; */
    align-items: center;
    justify-content: space-between;
    padding: 0 12rem;
    /* justify-items: center; */
}

h1{
    color: white;
    padding: 10px 20px;
    padding: 20px; /* Optional, adds space inside the div */
    font-family: 'Montserrat';
}

#iconBox{
    display: flex;
    gap: 36px;
}

.nav-img{
    height: 50px;
    width: 48px;
}
